*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    gap: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}

.HeaderLeft{
 display: flex;
  align-items: center;
  
    
}

.logo {
    padding: 24px  30px;
    border-right: 1px solid #ccc;
    background-size: cover;
}

.logo:hover{
    border: 2px solid  #848080;
}

.headerAddress{
   padding: 20px 30px;
  
}
.headerAddress:hover{
    border: 2px solid #848080;
}

.headerAddress h3{
    font-size: 18px;
     margin-bottom: 5px;
     
}
.headerAddress p{
    font-size: 14px;
  
    
}

.searchBox{
     flex-grow: 1;
    background-color: #f8f8f8;
    display:flex;
    border: 2px solid #f4f4f4;
    border-radius: 15px;
    
}

.searchBox:hover{
    border: 2px solid  #848080;
}

.searchBox button{
    padding: 15px;
    border: none;
    background-color: transparent;
}
.searchBox input{
flex-grow: 1;
border: none;
 background-color: transparent;
}

.searchBox input{
   outline : none;
}

.headerbtn button:hover{
    border: 2px solid #848080;
}

.headerbtn{
    display: flex;
    gap: 40;
   margin-right: 40px;
}


.headerbtn button{
    font-size: 16px;
    padding: 15px;
    background-color: transparent;
    border: none;
}

.headerbtn button:last-child{
    color: white;
    border-radius: 5px;
    font-weight: bold;
    background-color:rgb(12,131,31);
}


.bannerSection{
    margin:  0px auto;
    min-width: 1280px;
}

.bannerSection img{
    width:100% ;
}

.orderBanner{
    display: flex;
    max-width: 1280px;
    margin: auto;
}

.orderBannerItems{
    flex-basis:27%;
    margin: 1px;
}

.orderBannerItems img{
    width: 100%;
}


.categorySection{
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.categoryItems{
    flex-basis: 10%;
}

.categoryItems img{
    width: 100%;
}


.categorySection2{
    display: flex;
    margin: auto;
    max-width: 1280px;
}

.categoryItemsSecond{
    flex-basis: 10%;
}



.categoryItemsSecond img{
    width: 100%;
}

.productSection{
    max-width: 1280px;
    margin: auto;
    padding: 30px 0px 0px 0px;
}

.headingRow{
       display: flex;
      justify-content: space-between;
}



.headingRow  h2{
            font-size: 22px;
}

.headingRow  a{
    color: #328839;
    font-size: 18px;
   
}


.productRow{
    width: 100%;
    margin: 30px 0px 0px 0px;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
  
}

.productItems{
    flex-basis: 15%;
    box-shadow: 0px 0px 10px 2px #fcfcfc;
    border-radius:15px ;
    margin-bottom: 20px;
    border: 1px   #ccc;
}

/* .productItems :hover{
    border: 3px solid #848080;
} */

.productImg{
   text-align: center;
   padding: 15px;
}


.productImg p{
    background-color: #f8f8f8;
    display: flex;
    width: 60px;
    gap: 5px;
    padding: 2px;
    justify-content: center;
    align-items: center;
     font-size:12px ;
     text-align: left;
}


.productContent{
      padding: 15px;
      padding-top: 0px;
}

.productContent h3{
    margin-bottom: 15px;
    font-size: 14px;
}

.productContent p{
    font-size: 14px;
    color: #848080;
}

.btn-price-outer{
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.btn-price-outer button{
    border: 1px solid #328839;
    border-radius: 10px;
    padding: 5px  15px;
    border-radius: 10px;
    background-color: f2fff9;
}

.footer{
    padding: 40px 0px 0px 0px;

}


.footer-mid{
    max-width: 1280px;
     margin-top: 50px;
     margin-bottom: 0px;
     margin-left: 150px;
     margin-right: 0px;
   
}


.footer-mid-row1{
    width: 100%;
    display: flex;
    gap: 40px;
}

.footer-mid-row1-left{
    flex-basis: 30%;
}


.footer-mid-row1-left h3{
         margin-bottom: 20px;
}

.Useful-links{
    margin-top: 15px;
    display: flex;
}


.Useful-links ul{
    flex-basis: 33%;
    list-style: none;
}

.Useful-links ul li a{
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
    color: rgb(102,102,102);
}


.footer-mid-row1-right{
    flex-basis: 70%;
}


.categoriesHeadingRow{
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
    align-items: center;
}

.categoriesHeadingRow a{
   color: #328839;
}

.footer-mid-row3 p{
    padding: 10px 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(102,102,102);
}


.footer-mid-row2{
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    width: 100%p;
    padding: 20px 0px;
}

.footer-mid-row2 p{
    flex-basis: 40%;
    font-size: 14px;
    text-align: center;
}



.appIcons{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 30%;
}

.appIcons h5:hover{
     border: 2px solid #848080;
}

.sLinks{
    display: flex;
    gap: 10px;
}

.sLinks i{
    width: 40px;
    color: white;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
}



















